php_flag display_startup_errors on
php_flag display_errors on

Options +FollowSymLinks
RewriteEngine On

RewriteRule ^c/account/$ src/controllers/account.controller.php
RewriteRule ^c/account/([a-zA-Z-]+)/$ src/controllers/account.controller.php?a=$1

RewriteRule ^c/category/$ src/controllers/categories.controller.php

RewriteRule ^([a-zA-Z]+)/$ index.php?page=$1
RewriteRule ^category/([a-zA-Z-]+)/$ index.php?page=category&cat=$1